@charset "utf-8";
/* CSS Document */

*{ font-family:"微软雅黑"}
body, h1,h2,h3,h4,h5,ul,li,dl,dt,dd,input{ margin:0; padding:0;}
img{ border:none; }
a,ul,li,h1,h2,dl,dt,dd{ list-style:none; text-decoration:none;}


.pageTop { height: 30px; background:#f3f3f3}
.pageTopBody {overflow: hidden; width: 1100px; margin: 0 auto; line-height: 30px;}
.pageTopBody p {float: left; color:#666; font-size:12px; margin:0;line-height: 30px;}
.pageTopright {float: right; color:#666; font-size:12px}
.pageTopright a { margin: 0 5px; color:#666; font-size:12px}


.logoLine { width:100%; padding-top:26px; padding-bottom:20px}
.logoBox { overflow: hidden; width: 1100px; margin: 0 auto;}
.logoBox a{ float:left; display:block; width:600px}
.PhoneBox { float: right;background:url(../images/dianh.png) left bottom; background-repeat: no-repeat;margin-top:14px;}
.PhoneBox dd {color:#000; width: 190px;height: 25px;font-size: 14px;line-height: 25px;margin-left:57px;}
.PhoneBox dt{ margin-left:60px; margin-top:1px}
.PhoneBox dt img{ display:block; width:178px; height:23px}

.navBox {height:50px; border-top:#c3c3c3 solid 1px }
.nav{ width: 1100px;margin: 0 auto; color: white;}
.menu {overflow:hidden}

.menu .mainlevel { float: left; width:110px;display:inline;/*IE6 only*/ }
.menu .mainlevel .ssse{font-family: "微软雅黑";color:#272727;font-size: 14px;line-height:50px; text-align:center;width:110px; -webkit-transition: all 0.5s ease-in-out; display:block}

.menu .mainlevel .menual{display:none; position:absolute; z-index:9999; }
.mainlevel .menual li {width:110px; border-top:1px solid #d5d5d5; background-color:white; height:30px; }
.mainlevel .menual li a{  font-family: "微软雅黑";color:#f74d56;font-size: 13px;line-height:30px; text-align:center;width:110px;height:30px; -webkit-transition: all 0.5s ease-in-out; display:block;}
.mainlevel .menual li:hover{ background:#f74d56;}
.mainlevel .menual li a:hover{ color:white}
.navBox .cur{ color:white; background:#f74d56}

.mainlevel .ssse .sse{ color:white; background:#f74d56}
.mainlevel .ssse:hover{ color:white; background:#f74d56}

/*.navBox {height:50px; border-top:#c3c3c3 solid 1px }
.nav{ width: 1100px;margin: 0 auto; color: white;line-height:50px;text-align: center;}
.nav ul{ overflow:hidden}
.nav ul li{ float:left; width:110px}
.navBox a { font-family: "微软雅黑";color:#272727;font-size: 14px;line-height:50px; text-align:center;width:122px; display:block; -webkit-transition: all 0.5s ease-in-out;}
.navBox .cur{ color:white; background:#f74d56}
.navBox a:hover{ color:white; background:#f74d56}*/


.bannerBox{position:relative; margin:0 auto; height:550px; overflow:hidden; width:100%;}
.banner{ width:1920px; height:550px; position:absolute; bottom:0; left:50%; margin-left:-960px; }
.banner ul{ width:1920px; height:550px;}
.banner ul li{ width:1920px; height:550px;}
.banner ul li img{ width:1920px; height:550px;}
.small{ position:absolute; left:50%; bottom:12%;cursor:pointer; margin-left:-84px}
.small a{ width:40px; height:4px; background:white; float:left; margin:0 8px;}
.small .small_s{ background:#363636; width:40px; height:4px}

.phBox{height: 46px;width: 100%; background:url(../images/s-di.jpg)}
.search-box {width:1100px;margin: 0 auto;}
.search{ width:1100px; float:right}
.search-left {width:360px;float: left; height:46px; overflow:hidden}
.search-left span {color:#000;font-size: 14px;line-height: 46px;padding: 0 20px;}
.search-left a {color: #333; display:inline; font-size:12px; margin:0 4px}
.sear {width: 226px;height: 24px;float: right;margin-top:9px;}
.input-box {background: none;border:1px solid #CCC;line-height: 24px;width: 170px;float: left;}
.button {background:#f24345;border: none;color:white;line-height: 26px;width: 53px;float:left;}
.phone{ float:left; font-size:13px; color:#333; line-height:46px}
.phone span{ font-size:14px; color:#cb0000;}




.hnBox{  background:#fafef4; height:340px;}
.hotNav{ width:1100px; margin:0 auto}
.hotNav h2{ height:140px; width:1100px; background:url(../images/nav1.png) no-repeat center}
.hotNav ul{ width:1100px; overflow:hidden}
.hotNav ul li{ float:left; margin:0 58px}
.hotNav ul li a{ display:block; width:104px; height:160px}
.hotNav ul li a div{ width:104px; height:104px; border-radius:80px;-webkit-transition: all 0.5s ease-in-out;}

.hotNav ul li a .bise1{ background-color:#f9ce31}
.hotNav ul li a .bise2{ background-color:#47a4db}
.hotNav ul li a .bise3{  background-color:#d627b9}
.hotNav ul li a .bise4{ background-color:#fe4a31}
.hotNav ul li a .bise5{ background-color:#2d5e6f}
.hotNav ul li a div#bise:hover{ background-color:#5c5c5c;}

.hotNav ul li a div img{ display:block}
.hotNav ul li a span{ line-height:50px; font-size:14px; text-align:center; display:block; width:104px; color:#000}





.newsBox{ clear:both; padding:40px 0}
.news{ width:1100px; margin:0 auto; overflow:hidden}
.news .about,.news .gnews,.news .hnews{ float:left; width:350px; height:500px; margin-right:22px;}
.news .hnews{ margin-right:0;}
.news .about{ background:#f74d56;-webkit-transition: all 0.5s ease-in-out;}
.news .about:hover{ background:#4a4a4a}
.news .about h2{ height:70px; background:url(../images/nav2.png) no-repeat center; margin-top:10px}
.news .abo1{ height:340px; margin:0 20px;}
.news .abo1 p{ margin:0;line-height:22px; margin-top:20px;}
.news .abo1 p a{ color:#ffbcc4; font-size:14px; padding-left:18px; background:url(../images/cur1.png) no-repeat left}

.mor{ line-height:56px; font-size:14px; color:white; text-align:right; display:block; margin:0 20px}
.news .gnews,.news .hnews{ border:1px solid #e2e2e2}

.gnews h2{ background:url(../images/nav3.png) no-repeat center;height:70px;}
.hnews h2{ background:url(../images/nav4.png) no-repeat center;height:70px;}

.gnews dl,.hnews dl{ height:370px}
.gnews dl dt,.hnews dl dt{ width:350px; height:162px; margin-bottom:20px}

.gnews dl dd,.hnews dl dd{ padding:0 20px; height:32px;}
.gnews dl dd a,.hnews dl dd a{ display:block; padding-left:18px; background:url(../images/cur2.png) no-repeat left; height:32px; font-size:14px; color:#656565; line-height:35px}

.mor1{ line-height:56px; font-size:14px; color:#c83234; text-align:right; display:block; margin:0 20px}





.hpBox{ background:url(../images/bj1.png) no-repeat center; height:570px}
.hotPro{ width:1100px; margin:0 auto}

.hotPro h2{ background:url(../images/nav5.png) no-repeat center; height:140px}

.hotNa{overflow: hidden;width:610px;text-align: right; margin:0 auto;}
.hotNa ul{ overflow:hidden; width:610px;}
.hotNa ul li{ float:left;height: 36px; margin: 0px 8px; width:104px; }
.hotNa a {display:block;height: 34px;line-height: 34px;border: 1px solid #737373; vertical-align: middle;text-align: center;font-size: 14px;color: #696969;-webkit-transition: all 0.5s ease-in-out;}
.hotNa a.cur3 { color:white;background: #ffbf28; border: 1px solid #ffbf28;}

.hotp{overflow: hidden;clear: both; margin-top:40px}
.hotp li {width: 260px;float: left;overflow: hidden; margin:0 7px}
.hotp li a {display: block;cursor: pointer;}
.hotp li a img { width:260px; height:190px;}

.hotp li a span{ width:260px; line-height:40px; color:#656565; font-size:14px; text-align:center; display:block}

.hotPro .mor{ background:url(../images/pm.png) no-repeat center; width:1100px; height:40px; margin:0 auto; display:block; margin-top:30px}






.caseBox{ background:url(../images/bg2.png) center top no-repeat; height:670px; padding-top:10px}
.case{ width:1100px; margin:0 auto}
.case h2{ background:url(../images/nav6.png) no-repeat center; height:140px}
.case ul{ width:1100px; overflow:hidden}
.case ul li{ float:left; width:265px; height:188px; position:relative; margin:0 5px; margin-bottom:12px}
.case ul li .antu{ width:265px; height:188px;}
.case ul li .img{ width:265px; height:188px;}

.case ul li .anwen{ position:absolute; bottom:30px; left:0; width:265px; background:url(../images/tm.png); font-size:14px; color:white; text-align:center; display:block; line-height:48px; z-index:999999999999}

.case .mor{ background:url(../images/anm.png) no-repeat center; width:1100px; height:40px; margin:0 auto; display:block; margin-top:30px}








.kongBox{ background:#f7f7f6;}
.kong{ width:1100px; margin:0 auto}
.kong h2{ height:90px; background:url(../images/nav7.png) no-repeat center bottom; width:1100px;}
.kong h3{ width:11oopx; margin:0 auto; text-align:center; font-weight:normal; font-size:14px; color:#929292; margin-top:6px}
.kong ul{ width:1100px; overflow:hidden; padding-top:30px}
.kong ul li{ float:left; width:240px; height:210px; display:block; margin:0 16px}
.kong ul li span{ color:#2e2e2e; font-size:14px; text-align:center; line-height:30px; display:block; width:240px}










.hezuoBox{ background:#f7f7f6; padding-bottom:30px}
.hezuo{ width:1100px; margin:0 auto}
.hezuo h2{ background:url(../images/nav8.png) no-repeat center; height:140px}


.choose{ width:1100px; margin-left:auto; margin-right:auto;position:relative; height:180px; overflow:hidden; }
.anli-b .mr_frbox{height:180px;}
.but-left,.but-right{cursor:pointer;width:25px;height:44px;position: absolute;top:40px;z-index: 2;}
.but-left{left:0px;}
.but-right{right: 0px;}
.anli{width:1000px; height:180px; margin:0 auto; position:absolute; top:0px; left:50px; overflow:hidden}
.anli ul{ width:990px; overflow:hidden}
.anli ul li{ float:left; height:160px; width:190px; margin:0 5px}
.anli ul li a{ display:block; height:160px; width:190px;}
.anli ul li a img{ height:132px; display:block; width:188px; border:1px solid #cfcfcf}
.anli ul li a span{ display:block; text-align:center; line-height:30px; font-size:13px; color:#4c4c4c; width:190px}




.dnavBox{ height:45px; background:#f24345; }

.dNav{ width:1100px; margin:0 auto}

.dNav ul{ overflow:hidden}
.dNav ul li{ float:left; width:110px}
.dNav a { font-family: "微软雅黑";color:white;font-size: 14px;line-height:45px; text-align:center;width:110px; display:block; }



.bottomBox{ clear:both;padding-bottom:40px}
.bottom{ width:1100px; margin:0 auto; overflow:hidden; padding-top:40px}

.bottLeft{ float:left; width:183px;}
.bottLeft img{ width:183px; height:158px}


.botMid{ float:left;  width:670px; margin:0 56px}

.botMid p{ line-height:30px; font-size:14px; color:#2e2e2e; margin:0;}
.botMid p a{font-size:14px; color:#2e2e2e;}
.botRig{ float:left; width:135px; height:133px;}

.botRig img{ display:block; width:135px; height:133px;}













